.container {
    width: 500px;
    height: 500px;
    max-width: 50%;
    max-height: 50%;
    margin: 10% auto;
    border: 2px solid black;

    & .temperature {
        width: 200px;
        height: 200px;
        border: 2px solid black;
        margin: 1% auto;

        & .temp {
            font-size: 50px;
        }
    }
    & .location {
        width: 350px;
        height: 200px;
        margin: 0 auto;
        border: 2px solid black;        
    }
}