.temperature {
    background: color(black alpha(45%));
    width: 60%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    margin: 0 auto;

    & .temp {
        font-size: 7.5rem;
        width: 150px;
        margin: 0 auto;
    }
    & sup {
        position: relative;
        top: -45px;
        font-size: 3rem;
        cursor: pointer;
    }
    & sub {
        position: relative;
        right: 25px;
        font-size: 2.5rem;
        cursor: pointer;
    }
}

.activeUnit {
    color: #ef4125;
}

.location{
    text-align: center;
    background: color(black alpha(45%));
    width: 60%;
    // border-radius: 10%;
    margin: 0 auto;
    & .loc {
        font-size: 1.5rem;
        width: 200px;
        margin: 2% auto;
    }
}

.legal {
    position: absolute;
    bottom: 20px;
    right: 20px;
}