.temperature {
    background: color(black alpha(45%));
    width: 70%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    margin: 25px auto 0 auto;

    @media(--viewport-medium){
        width: 25%;
        margin-top: 3%;
        padding: 2% 0;
    }

    & .temp {
        font-size: 7.5rem;
        width: 250px;
        margin: 0 auto;

        @media(--viewport-medium){
            font-size: 9.5rem;
            width: 100%;
        }
    }
    & sup, sub {
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
    }
    & sup {
        font-size: 3rem;
        cursor: pointer;
        line-height: 0;
        left: 40px;

        @media(--viewport-medium){
            font-size: 4.5rem;
            left: 60px;
        }
    }
    & sub {
        font-size: 2.5rem;
        cursor: pointer;
        line-height: 0;
        top: 0.4em;
        
        @media(--viewport-medium){
            font-size: 3.5rem;
        }
    }
}

.activeUnit {
    color: #ef4125;
}

.location{
    text-align: center;
    background: color(black alpha(45%));
    width: 70%;
    margin: 0 auto;

    @media(--viewport-medium){
        width: 25%;
        margin-top: 3%;
        padding: 2% 0;
    }
    & .loc {
        font-size: 1.5rem;
        width: 200px;
        margin: 2% auto;

        @media(--viewport-medium){
            width: 60%;
            font-size: 2rem;
        }
    }
}

.legal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    & a {
        color: #414349;
    }
}