
.clearDaySky {
    background: #626062 resolve('clear-daysky.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.clearNightSky {
    background: #626062 resolve('clear-nightskyM.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.partlyCloudyDay {
    background: #626062 resolve('cloudyDay1.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.partlyCloudyNight {
    background: #626062 resolve('cloudyNight.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.cloudy {
    background: #626062 resolve('cloudy.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.rain {
    background: #626062 resolve('rain.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.sleet {
    background: #626062 resolve('sleet.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.snow {
    background: #626062 resolve('snow.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.wind {
    background: #626062 resolve('wind.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}

.fog {
    background: #626062 resolve('fog.jpg') no-repeat;
    background-position: -50px 50%;

    @media(--viewport-medium){
        background-position: 0% 0%;
        background-size: cover;
    }
}